
// HEADER & NAV MENU

.header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    background-color: $z-fixed;
    transition: box-shadow  .4s;
}

.nav{
    position: relative;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: $font-semi-bold;
    color: $title-color;
}

.nav__logo-cirle,
.nav__toggle{
    width: 32px;
    height: 32px;
    background-color: $black-color;
    color: $white-color;
    display: grid;
    place-items: center;
}